PORT=8080

DATABASE_URL=postpostgres://postgres:postgres@localhost:5433/ingestion

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=your_kafka_topic

MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=your_mqtt_client_id
MQTT_TOPIC=devices/+/data
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password