PORT=2500

DATABASE_URL=postgres://postgres:postgres@localhost:5433/ingestion

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=sensor_data

MQTT_BROKER=ssl://localhost:8883
MQTT_CLIENT_ID=ingestion-service
MQTT_TOPIC=devices/+/data
MQTT_DEVICE_REGISTRATION_TOPIC=devices/+/registration
MQTT_DEVICE_REGISTRATION_RESPONSE_TOPIC=devices/%d/registration/response
MQTT_USERNAME=pred-ingestion
MQTT_PASSWORD=dev-ingestion-password
MQTT_CA_CERT=../mosquitto/certs/ca.crt

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PUBKEY_TTL=30m
REDIS_NONCE_TTL=60s

